In [ ]:
# https://github.com/RomelTorres/alpha_vantage
!pip install alpha_vantage

In [2]:
import pandas as pd
import time
from alpha_vantage.timeseries import TimeSeries

In [19]:
key = open(f'C:\\Users\\deep\\Desktop\\key.txt','r').read() #https://www.alphavantage.co/support/#api-key

ts = TimeSeries(key=key,output_format='pandas')
df = ts.get_daily(symbol='FB',outputsize='full')[0]  #full/compact
df.columns = ['Open','High','Low','Close','Volume']
df.shape

(2370, 5)

In [20]:
data.head()

               Open    High     Low   Close      Volume
date
2021-10-18  328.950  335.89  327.50  335.34  21585018.0
2021-10-15  328.680  329.07  322.51  324.76  21596370.0
2021-10-14  328.355  330.52  327.10  328.53  14302154.0
2021-10-13  326.970  327.00  322.66  324.54  14761470.0
2021-10-12  323.030  324.38  317.37  323.77  31658684.0

In [22]:
#max api calling limit is 5 tickers per minute/ 500 calls per day

faangm_stocks = ['FB','AMZN','AAPL','NFLX','GOOGL','MSFT']
df = pd.DataFrame()
count = 0
for stock in faangm_stocks:
    start = time.time()
    ts = TimeSeries(key=key,output_format='pandas')
    temp = ts.get_intraday(symbol=stock,interval='1min',outputsize='full')[0]  
    count +=1
    temp.columns = ['Open','High','Low','Close','Volume']
    df[stock]= temp['Close']
    if count == 5:
        count = 0
        print("Time taken for One iteration: "+str(time.time()-start)) #time of single iteration in seconds
        time.sleep(60-(time.time()-start)*5) #60 seconds - time consumed in first 5 iteration

Time taken for One iteration: 5.767131328582764

In [23]:
df.shape

(6184, 6)